<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JXActionSheet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06AB08941C54FDEE005CB36B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06AB08AD1C54FDEF005CB36B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06AB08B81C54FDEF005CB36B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
